.news-item-hidden {
    display: none;
}

#view-more-btn {
    display: none;
    text-align: center;
    margin-top: 15px;
    color: #0366d6;
    cursor: pointer;
    text-decoration: underline;
}

#view-more-btn:hover {
    color: #035fc6;
}